* {
    margin: 0;
    padding: 0;
}

.galeria {
    display: flex;
    width: 100vw;
    background-color: gray;
    flex-wrap: wrap;
    
}

.imagen {
    height: 300px;
    width: 300px;
    margin: 20px;
}